#!/bin/bash

# Files to watch. If these files change, `direnv` will trigger a
# `direnv reload`.

watch_file package.json
watch_file tools.go

watch_file .config/config.development.json
watch_file .config/config.staging.json
watch_file .config/config.production.json

watch_dir .linters

# Loads a `.env` file into the current environment.
dotenv_if_exists .env

# Launch `lorri` if present. If not, default to direnv's `use nix`.
if has lorri; then
  eval "$(lorri direnv)"
else
  use nix
fi

# Use direnv's `go` layout.
#
# Read more:
# https://direnv.net/man/direnv-stdlib.1.html#codelayout-gocode
layout go

# Use direnv's `node` layout.
#
# Read more:
# https://direnv.net/man/direnv-stdlib.1.html#codelayout-nodecode
layout node

# Add the `.tools` directory to the PATH environment variable.
PATH_add .tools

# Bootstrap the project development environment. This will initialize or
# reload project configuration files, dependencies, and environment variables,
# respectively.
if [ "${INIT}" != "true" ]; then
  invoke init
else
  invoke reload
fi
